.scrollbar {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.scrollbar::-webkit-scrollbar {
  width: 5px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
  background-clip: padding-box;
  border: 5px solid transparent;
}

.scrollbar:hover {
  overflow: visible;
}
